.nav-mobile-btn-container {
    background: transparent !important;
    transition: 1s ease-in-out;
}

.nav-mobile-btn-container.open {
    animation: Expand .4s ease-in-out forwards;
}

.nav-mobile-btn-container.closed {
    animation: Collapse .4s ease-in-out forwards;
}

.nav-mobile-menu {
    opacity: 0;
    animation: fadeIn .5s ease-out .2s forwards;
}

@keyframes Expand {
    0% {
        width: 75px;
        height: 100px;
    }

    100% {
        width: 100%;
        height: 100vh;
    }
}

@keyframes Collapse {
    0% {
        width: 100%;
        height: 100vh;
    }

    100% {
        width: 75px;
        height: 100px;
    }
}